body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}


h1 {
    color: #66BFBF;
    font-size: 4.20rem;
    margin-top: 56px 0 auto 0;
    font-family: 'Kaushan Script', cursive;
    line-height: 2;

}

.headcontainer {
    background-color: #D4ECDD;
    position: relative;
    padding-top: 100px;
}
.middle-container{
margin: 100px 0 100px 0;
}

h2 {
    color: #66BFBF;
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.5em;
    font-weight: normal;
    padding-bottom: 10px;
}


.skills {
    color: #11999E;

}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ede8ed;
    font-size: 20px;
    background: #45b38e;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    padding: auto;
    

  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.contact-me {
    color: #11999E;
    
   
    
}
.bottom-cloud {
    position: absolute;
}
.top-cloud {
    position: absolute;
    left:1100px;
    top:80px;
}
.mic-img {
    width: 12%;
    float: right;
    margin-left: 5px;
    
}
.coding-img {
    width: 15%;
    float: left;
    margin-right: 30px;
    
}